body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.title{
    text-align: center;
}
#btn{
    height: 62px;
    width: 60px;
    position: fixed;
    left: 80%;
    top: 85%;
    background-color: #3F51B5;
    color: white;
    font-size: 25px;
    border-radius: 100px;
}
#list{
    
    justify-content: center;
    align-items: center;
}
input[type=text],
input[type='number'] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  